.question_container{
  width: 500px;
  padding: 20px;
  margin: 0 auto !important;
  box-shadow: 4px 4px 10px 0px #6e6e6eed;
  display: block;
  margin-top: 50px !important;
}
.quiz_title{
  text-align: center;
  letter-spacing: 6px;
  font-weight: 600;
  text-shadow: 4px 2px 3px #008000;
}
.question{
  font-weight: 500;
}
input[type='submit']{
  border: none;
  background: green;
  color: white;
  padding: 5px 40px;
  border-radius: 6px;
  width: 100%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
}
input[type='submit']:hover{
  background: #64d064;
  color: black;
}
.resultCard{
  width: 500px;
  padding: 10px;
  margin: 0 auto !important;
  box-shadow: 4px 4px 10px 0px #6e6e6eed;
  display: block;
  margin-top: 50px !important;
  justify-content: center;
  text-align: center;
}
.reStart{
  border: none;
  background: green;
  color: white;
  padding: 5px 40px;
  border-radius: 6px;
  width: 65%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  text-decoration: none;
}